<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:height="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head">
</head>
<body>
<style type="text/css">
    * {
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
                 position: absolute;
                 top: -9999px;
             }
    .rate:checked > input {
        position: absolute;
        top: -9999px;
    }
    .rate:not(:checked) > label {
        float: right;
        width: 1em;
        overflow: hidden;
        white-space: nowrap;
        cursor: pointer;
        font-size: 30px;
        color: #ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }
    #radioForm {
        text-align: center;
    }
    .stars {
        text-align: center;
    }
    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
    .stars-container {
        zoom: 2;
        /*-moz-transform: scale(2);*/
        position: relative;
        display: inline-block;
        color: transparent;
    }
    .stars-container:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '★★★★★';
        color: lightgray;
    }
    .stars-container:after {
        position: absolute;
        top: 0;
        left: 0;
        content: '★★★★★';
        color: gold;
        overflow: hidden;
    }
    .stars-0:after {
        width: 0%;
    }
    .stars-10:after {
        width: 10%;
    }
    .stars-20:after {
        width: 20%;
    }
    .stars-30:after {
        width: 30%;
    }
    .stars-40:after {
        width: 40%;
    }
    .stars-50:after {
        width: 50%;
    }
    .stars-60:after {
        width: 60%;
    }
    .stars-70:after {
        width: 70%;
    }
    .stars-80:after {
        width: 80%;
    }
    .stars-90:after {
        width: 90%;
    }
    .stars-100:after {
        width: 100%;
    }
    #name{
        height: 60px;
        width: 500px;
    }
    .tip {
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        border: 10px solid #ccc;
    }
    .tip-left {
        top: 10px;
        left: -25px;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: transparent;
    }
    .dialogbox .body {
        position: relative;
        max-width: 750px;
        height: auto;
        margin: 20px 10px;
        padding: 5px;
        background-color: #DADADA;
        border-radius: 3px;
        border: 5px solid #ccc;
    }
    .body .message {
        min-height: 30px;
        border-radius: 3px;
        font-family: Arial;
        font-size: 14px;
        line-height: 1.5;
        color: #797979;
    }
</style>
<div class="fh5co-loader"></div>
<div id="page">
    <nav th:replace="fragments::navigation">
    </nav>
    <header id="fh5co-headera" class="fh5co-cover" role="banner" style="background-image:url(/realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-left">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <!--                            <span th:text="${course.getTitle()}>Course Title</span>-->
                            <h1 th:text="${course.title}"> Course title</h1>
                            <div>
                                <!--<h2> <span> <img src="https://png.pngtree.com/svg/20170626/da7858959c.svg" width="40" height="40">-->
                                <span th:text="${courseRating}" style="color: white; font-size: larger"
                                      id="ratingValue"></span>
                                <span style="color: white; font-size: larger">/5</span>
                                <div><span class="stars-container stars-0">★★★★★</span></div>
                                <div><span class="stars-container stars-10">★★★★★</span></div>
                                <div><span class="stars-container stars-20">★★★★★</span></div>
                                <div><span class="stars-container stars-30">★★★★★</span></div>
                                <div><span class="stars-container stars-40">★★★★★</span></div>
                                <div><span class="stars-container stars-50">★★★★★</span></div>
                                <div><span class="stars-container stars-60">★★★★★</span></div>
                                <div><span class="stars-container stars-70">★★★★★</span></div>
                                <div><span class="stars-container stars-80">★★★★★</span></div>
                                <div><span class="stars-container stars-90">★★★★★</span></div>
                                <div><span class="stars-container stars-100">★★★★★</span></div>
                                <!--</span> </h2>-->
                                <br>
                                <br>
                            </div>
                            <div>
                                <h2 th:text="${course.description}">Course description</h2>
                            </div>
                            <br>
                            <button class="btn btn-primary" onclick="myFunction()">View Comments</button>
                            <div id="myDIV" style="display:none">
                                <br>
                                <form >
                                    <br>
                                    <input type="text" id="name" placeholder="Add comment">
                                    <input  type="submit" value="Comment" id="commentButton" class="btn btn-primary">
                                </form>
                                <div th:each="comment : ${allComments}">
                                    <div th:if="${comment.getCourseId()==course.getId()}">
                                        <div class="dialogbox">
                                            <div class="body">
                                                <span class="tip tip-left"></span>
                                                <div class="message">
                                                    <span th:text="${comment.getUsername()}+':'"></span>
                                                    <span th:text="${comment.getComment()}"></span>
                                                    <div th:text="${comment.getTime()}"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>
                                <input type="text" th:value="${course.id}" id="courseId" style="display:none;">
                            </div>
                            <div th:if="${studentCourse == null}">
                                <form th:action="@{/lectures/enroll/{id}(id = ${course.id})}"><br>
                                    <input type="submit" class="btn btn-success" value="Enroll"/>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <div th:if="${lectures.size()>0}">
                        <div th:if="${studentCourse!=null}">
                            <div th:if="${studentCourse.statusID!=2 }">
                                <h2>Watch the video lectures below </h2>
                                <p>You have to watch every video lecture. Then you will have the chance to download the
                                    assignment
                                    and upload your homework. Good luck!</p>
                            </div>
                            <div th:if="${studentCourse.statusID==2}">
                                <h2> Your final grade is : </h2>
                                <h1>
                                    <div th:text="${studentCourse.avgGrade} + '%'"></div>
                                </h1>
                                <div th:if="${studentCourse.avgGrade>=80}">
                                    <div th:if="${checkRating.isEmpty()}">
                                        <form action="" class="rate" id="radioForm">
                                            <input type="text" class="idClass" th:value="${course.id}" id="id"
                                                   style="display: none">
                                            <input type="radio" id="star5" name="rate" value="5" class="stars"/>
                                            <label for="star5" title="text">5 stars</label>
                                            <input type="radio" id="star4" name="rate" value="4" class="stars"/>
                                            <label for="star4" title="text">4 stars</label>
                                            <input type="radio" id="star3" name="rate" value="3" class="stars"/>
                                            <label for="star3" title="text">3 stars</label>
                                            <input type="radio" id="star2" name="rate" value="2" class="stars"/>
                                            <label for="star2" title="text">2 stars</label>
                                            <input type="radio" id="star1" name="rate" value="1" class="stars"/>
                                            <label for="star1" title="text">1 star</label>
                                            <br><br>
                                            <button type="submit" id="button" class="btn btn-primary">Submit</button>
                                        </form>
                                        <!--                                <a class="btn btn-primary btn-lg btn-primary" href="#">Rate course</a>-->
                                    </div>
                                    <div th:if="${!checkRating.isEmpty()}">
                                        <span> <h3> You have rated this course </h3><img
                                                src="https://png.pngtree.com/svg/20170626/da7858959c.svg" height="250"
                                                width="250"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:if="${lectures.size()==0}">
                        <span>The course has no lectures</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" th:if="${studentCourse!=null}">
    <h2>Your progress in this course</h2>
    <p>Based on assigned homework</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="100" th:style="'width:'+${progress}+'%'">
            <div th:text="${progress} + '%'">
            </div>
        </div>
    </div>
</div>
<div id="fh5co-blog">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4" th:each="lecture : ${lectures}">
                <div class="fh5co-blog animate-box">
                    <a href="#"><img class="img-responsive" src="/images/project-5.jpg" alt=""></a>
                    <div class="blog-text">
                        <h3 th:text="${lecture.title}"><a href="" #>Lecture title</a></h3>
                        <p th:text="${lecture.description}"> Lecture description</p>
                        <a th:href="@{/video/{id}(id = ${lecture.id})}" class="btn btn-primary">
                            Watch video
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments::footer">
</footer>
</div>
<div th:replace="fragments::finalJS"></div>
<script>
    $("#button").click(function () {
        let id = $(`#id`).val();
        let stars = $(this).siblings(`.stars`).val();
        let five = document.getElementById("star5").checked;
        let four = document.getElementById("star4").checked;
        let three = document.getElementById("star3").checked;
        let two = document.getElementById("star2").checked;
        let one = document.getElementById("star1").checked;
        if (five) {
            stars = 5
        }
        ;
        if (four) {
            stars = 4
        }
        ;
        if (three) {
            stars = 3
        }
        ;
        if (two) {
            stars = 2
        }
        ;
        if (one) {
            stars = 1
        }
        ;
        if (stars > 0 && stars < 6) {
            $.ajax({
                "async": true,
                "crossDomain": true,
                "url": `http://localhost:8080/api/rate?id=${id}&stars=${stars}`,
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                },
                "processData": false,
                "data": JSON.stringify({
                    "name": $('#name').val()
                }),
                success: function () {
                },
                error: function () {
                }
            });
        } else {
            alert("ERROR!")
        }
        if (stars > 0 && stars < 6) {
            alert("Rated: " + stars + "!")
        }
    });
</script>
<script>
    let rating = document.getElementById("ratingValue").textContent;
    if (rating <= 5 && rating >= 4.76) {
        $('.stars-100').show();
    } else {
        $('.stars-100').hide();
    }
    if (rating < 4.76 && rating >= 4.26) {
        $('.stars-90').show();
    } else {
        $('.stars-90').hide();
    }
    if (rating < 4.26 && rating >= 3.76) {
        $('.stars-80').show();
    } else {
        $('.stars-80').hide();
    }
    if (rating < 3.76 && rating >= 3.26) {
        $('.stars-70').show();
    } else {
        $('.stars-70').hide();
    }
    if (rating < 3.26 && rating >= 2.76) {
        $('.stars-60').show();
    } else {
        $('.stars-60').hide();
    }
    if (rating < 2.76 && rating >= 2.26) {
        $('.stars-50').show();
    } else {
        $('.stars-50').hide();
    }
    if (rating < 2.26 && rating >= 1.76) {
        $('.stars-40').show();
    } else {
        $('.stars-40').hide();
    }
    if (rating < 1.76 && rating >= 1.26) {
        $('.stars-30').show();
    } else {
        $('.stars-30').hide();
    }
    if (rating < 1.26 && rating >= 0.76) {
        $('.stars-20').show();
    } else {
        $('.stars-20').hide();
    }
    if (rating < 0.76 && rating >= 0.26) {
        $('.stars-10').show();
    } else {
        $('.stars-10').hide();
    }
    if (rating < 0.26 && rating >= 0.0) {
        $('.stars-0').show();
    } else {
        $('.stars-0').hide();
    }
</script>
<script>
    // let container = $(`div.comments`);
    // // let id = $(`#courseId`).val();
    //
    // $.ajax({
    //     type:'GET',
    //     url: 'http://localhost:8080/api/comments',
    //     dataType: 'json',
    //     success: function (data) {
    //         $.each(data,function (index, item) {container.append("<br>");
    //             $.each(item,function (key, value) {
    //                 let values = value.split(" ")
    //                 container.append(document.getElementsByClassName("comments").innerHTML = values);
    //
    //             })
    //
    //     })
    // $.each(data, function (index, item) { container.append('<br>')
    //
    //     $.each(item, function (key , value) {
    //
    //         container.append(value+' ')
    //     })
    //
    // })
    //     }
    // })
</script>
<script>
    $("#commentButton").click(function () {
        let id = $(`#courseId`).val();
        $.ajax({
            "async": true,
            "crossDomain": true,
            "url": `http://localhost:8080/api/comments/new?courseId=${id}`,
            "method": "POST",
            "headers": {
                "Content-Type": "application/json",
            },
            "processData": false,
            "data": JSON.stringify({
                "name": $('#name').val()
            }),
            success: function () {
            },
        })
        alert("Comment added successfully!")
    });
</script>
<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
</body>
</html>
