<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>
<div id="page">


    <nav class="fh5co-nav" role="navigation">

        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                        <ul>  <li class="btn-cta"> <a href="/home"> <span>Back</span></a></li></ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <header id="fh5co-headera" class="fh5co-cover" role="banner" style="background-image:url(/realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-left">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <!--                            <span th:text="${course.getTitle()}>Course Title</span>-->
                            <h1 th:text="${course.title}"> Course title</h1>
                            <div>
                                <h2 th:text="${course.description}">Course description</h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <div th:if="${lectures.size()>0}">
                        <h2>What are you waiting for? Sign up and start this course! </h2>
                    </div>

                    <div th:if="${lectures.size()==0}">
                        <span >The course has no lectures</span>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4" th:each="lecture : ${lectures}">
                    <div class="fh5co-blog animate-box">
                        <a href="/login"><img class="img-responsive" src="/images/project-5.jpg" alt=""></a>
                        <div class="blog-text">
                            <h3 th:text="${lecture.title}"><a href="" #>Lecture title</a></h3>
                            <p th:text="${lecture.description}"> Lecture description</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments::footer">
    </footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>

<!--<div class="table">-->
<!--    <div class="header">-->
<!--        <div class="cell" >Lectures</div>-->
<!--        <div class="cell" >Lecture title</div>-->
<!--        <div class="cell" >Description</div>-->
<!--    </div>-->
<!--    <div class="row" th:each="lecture : ${lectures}">-->
<!--        <div class="cell" th:text="${lecture.title}">1</div>-->
<!--        <div class="cell" th:text="${lecture.description}"></div>-->
<!--    </div>-->
<!--</div>-->


<!--<style>-->
<!--    .table {-->
<!--        display: table;-->
<!--    }-->

<!--    .header {-->
<!--        display: table-header-group;-->
<!--        font-weight: bold;-->
<!--    }-->

<!--    .rowGroup {-->
<!--        display: table-row-group;-->
<!--    }-->

<!--    .row {-->
<!--        display: table-row;-->
<!--    }-->

<!--    .cell {-->
<!--        display: table-cell;-->
<!--        width: 18%;-->
<!--    }-->
<!--</style>-->