<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<style>

    .topnav {
        overflow: hidden;
        background-color: #e9e9e9;
    }

    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav a.active {
        background-color: #2196F3;
        color: white;
    }

    .topnav .search-container {
        float: right;
    }

    .topnav input[type=text] {
        padding: 6px;
        margin-top: 8px;
        font-size: 17px;
        border: none;
    }

    .topnav .search-container button {
        float: right;
        padding: 6px;
        margin-top: 8px;
        margin-right: 16px;
        background: #ddd;
        font-size: 17px;
        border: none;
        cursor: pointer;
    }

    .topnav .search-container button:hover {
        background: #ccc;
    }

    @media screen and (max-width: 600px) {
        .topnav .search-container {
            float: none;
        }
        .topnav a, .topnav input[type=text], .topnav .search-container button {
            float: none;
            display: block;
            text-align: left;
            width: 100%;
            margin: 0;
            padding: 14px;
        }
        .topnav input[type=text] {
            border: 1px solid #ccc;
        }
    }
</style>

<div class="fh5co-loader"></div>

<div id="page">
    <nav th:replace="fragments::navigation">
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/courses_backgound_01.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Find & Order</h1>
                            <br/>
                            <h1>Courses</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <hr>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                    <h2 th:align="center">All courses</h2>

                    <div class="topnav">

                        <a th:href="@{/courses/ordered}"> Order Alphabetically </a>
                        <a href="/courses/top">Most Rated Courses</a>

                        <div  class="search-container">
                            <form th:action="@{/filtered}"  th:object="${courseDto}" method="post">
                                <label>
                                    <input type="text" th:field="*{text}" placeholder="Search..." name="search" >
                                </label>
                                <button type="submit"><img src="https://previews.123rf.com/images/eljanstock/eljanstock1811/eljanstock181112516/112441885-search-vector-icon-isolated-on-transparent-background-search-transparency-logo-concept.jpg" width="25" height="25"></button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <hr>


    <div class="container-fluid proj-bottom">

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn"
                 th:each=" course : ${allCourses}">

                <a
                        th:href="@{/lectures/{id}(id = ${course.id})}"
                >

                    <!--                    <img src="images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"-->
                    <!--                         class="img-responsive">-->

                    <img th:src="${course.getPictureName()}" width="520" height="300"/>

                    <h3 th:text="${course.getTitle()}">Web Master</h3>
                    <div class="row" th:each="i : ${topics}">
                        <div th:if="${course.getTopicId()} == ${i.getId()}">
                            <span th:text="${i.getName()}">View Course</span>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>

    <div th:if="${switch==1}">
        <div th:align="center">
            <li th:if="${page}-1 >= 0"><a th:href="@{/courses/next/{page}(page = ${page}-1)}" class="previous">&laquo;
                Previous Page</a></li>
            <li th:if="${allCourses.size()==9}"><a th:href="@{/courses/next/{page}(page = ${page}+1)}" class="previous">Next
                Page &raquo;</a></li>
        </div>
    </div>

    <div th:if="${switch==2}">
        <div th:align="center">
            <li th:if="${page}-1 >= 0"><a th:href="@{/courses/ordered/next/{page}(page = ${page}-1)}" class="previous">&laquo;
                Previous Page</a></li>
            <li th:if="${allCourses.size()==9}"><a th:href="@{/courses/ordered/next/{page}(page = ${page}+1)}" class="previous">Next
                Page &raquo;</a></li>
        </div>
    </div>

    <hr>


    <footer th:replace="fragments::footer"></footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>