<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body>
<div class="fh5co-loader"></div>

<div id="page">

    <nav th:replace="fragments::navigation">
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Choose a course and add new lectures</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="col-md-8 animate-box">
        <h3>Select course and add new lecture</h3>
        <form th:action="@{/lecture/new}" th:object="${lecture}"
              method="post" enctype="multipart/form-data">
            <div class="row form-group">


                <div class="col-md-6">
                    <select name="courseId" field="Course" required="required">
                        <option value="" disabled selected>Select one of your courses</option>
                        <div class="row" th:each="i : ${courses}">
                            <option class="cell" th:text="${i.getTitle()}" th:value="${i.getId()}"></option>
                        </div>
                    </select>

                </div>

                <br/>
                <br/>
                <br/>

                <div class="col-md-6">
                    <input type="text" id="fname" class="form-control" th:field="*{title}" placeholder="Lecture Title"
                           required="required">
                </div>


                <div class="col-md-12">

                    <textarea name="message" th:field="*{description}" id="message" cols="30" rows="10"
                              class="form-control"
                              placeholder="Lecture Description" required="required"></textarea>
                    <br/>
                    <br/>
                    <br/>
                </div>


                <div class="col-md-6">
                    <input type="text" id="video" class="form-control" th:field="*{videoName}"
                           placeholder="YouTube Video Link"
                           required="required">
                    <br/>
                    <br/>
                    <br/>
                </div>

                <div class="col-md-12">
                    <h5>Upload Assignment</h5>
                    <input type="file" name="files" multiple required="required">
                    <br/>
                    <br/>
                    <br/>
                </div>


                <div class="col-md-12">
                    <input type="submit" value="Add Lecture" class="btn btn-primary">
                </div>
            </div>

        </form>
    </div>


    <footer th:replace="fragments::footer"></footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>