<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>
<div id="page">

    <nav th:replace="fragments::navigation">
    </nav>


    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Delete course</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <div th:if="${allActiveCourses.size()!=0}">
                        <h2>Here you can see all courses in the system. </h2>
                        <p>Choose to delete one or many. Be careful with your choice.</p>
                    </div>

                    <div th:if="${allActiveCourses.size()==0}">
                        <p>There are no courses in the system.</p>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div id="fh5co-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4" th:each="course : ${allActiveCourses}">
                    <div class="fh5co-blog animate-box">
                        <a th:href="@{/lectures/{id}(id = ${course.id})}">

                            <img th:src="${course.getPictureName()}" width="400" height="285" />

                        <div class="blog-text">
                            <h3 th:text="${course.title}">Course title</h3>
                            <p th:text="${course.description}"> Course description</p>
                            <a th:href="@{/deletecourse/{id}(id = ${course.id})}" class="btn btn-primary">
                                Delete course
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <footer th:replace="fragments::footer">
    </footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>

