<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="num">alexteachinfo@gmail.com</p>
                        <ul class="fh5co-social">
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                        <div id="fh5co-logo"><a href="/">AlexTeach<span>.</span></a></div>
                    </div>
                    <div class="col-xs-11 text-right menu-1">
                        <ul>
                            <li class="active"><a href="home.html">Home</a></li>
                            <li><a href="/courses">Courses</a></li>
                            <li class="btn-cta"><a href="/login"><span>Login</span></a></li>
                            <li class="btn-cta"><a href="/register"><span>Student Register</span></a></li>
                            <li class="btn-cta"><a href="/register/teacher"><span>Teacher Register</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Welcome to AlexTeach</h1>
                            <!-- <h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2> -->
                            <p><a class="btn btn-primary btn-lg btn-learn" href="/login">Take A Course</a> <a
                                    class="btn btn-primary btn-lg popup-vimeo btn-video"
                                    href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play"></i>
                                Watch Video</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div id="fh5co-counter" class="fh5co-counters">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" th:data-to="${studentsCounter}" data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Students</span>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0"

                          th:data-to="${coursesCounter}"

                          data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Courses</span>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <span class="fh5co-counter js-counter" data-from="0" th:data-to="${teachersCounter}" data-speed="5000"
                          data-refresh-interval="50"></span>
                    <span class="fh5co-counter-label">Instructors</span>
                </div>

            </div>
        </div>
    </div>


    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Showcase of Top Projects</h2>
<!--                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.-->
<!--                        Odit ab aliquam dolor eius.</p>-->
                </div>
            </div>
        </div>
        <div class="container-fluid proj-bottom">

            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn"
                     th:each=" course : ${courses}">

                    <a
                            th:href="@{/lectures/{id}(id = ${course.id})}"

                    >

                        <!--                        href="#"-->
                        <!--                        href="/lectures/{courseId}"-->
                        <!--                        th:href="@{/lectures/${course.getId()}}"-->


                        <img th:src="${course.getPictureName()}" width="520" height="300" />

                        <h3 th:text="${course.getTitle()}">Web Master</h3>
                        <div class="row" th:each="i : ${topics}">
                            <div th:if="${course.getTopicId()} == ${i.getId()}">
                                <span th:text="${i.getName()}">View Course</span>
                            </div>
                        </div>

                    </a>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="features">
                    <div class="col-md-4 animate-box">
                        <h4>We have coolest features of this course</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. </p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>Great teachers that we have</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. </p>
                    </div>
                    <div class="col-md-4 animate-box">
                        <h4>Steps by steps turorial session</h4>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. </p>
                    </div>
                </div>
                <div class="col-md-12 text-center animate-box">
                    <p><a class="btn btn-primary btn-lg btn-learn" href="/register">Register as a Student</a></p>
                </div>
            </div>
        </div>
    </div>

    <div id="fh5co-steps">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Start A Course</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.
                        Odit ab aliquam dolor eius.</p>
                </div>
            </div>

            <div class="row bs-wizard animate-box" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum"><h4>Step 1</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>Choose Topic</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step active"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 2</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>Create New Course</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 3</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>Upload Video</p></div>
                </div>

                <div class="col-xs-3 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>
                    <div class="progress">
                        <div class="progress-bar"></div>
                    </div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>Grade Homework</p></div>
                </div>
            </div>

        </div>
    </div>



    <div id="fh5co-started" style="background-image:url(images/img_bg_2.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Lets Get Started</h2>
                    <p>Do you want to become part of the teachers team? It is easy! Just send a request.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <p><a href="/register/teacher" class="btn btn-default btn-lg">Register as a Teacher</a></p>
                </div>
            </div>
        </div>
    </div>

    <footer th:replace="fragments :: footer"></footer>

</div>

        <div th:replace="fragments::finalJS"></div>
</body>
</html>