<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body>

<style>td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}</style>


<div class="fh5co-loader"></div>

<div id="page">

    <nav th:replace="fragments::navigation"></nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>Mark Homeworks</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div th:if="${homeworks.size()==0}" id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <p>Looks like your job here is done! You have no homework to grade!</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:if="${homeworks.size()!=0}" id="fh5co-projecta">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2> Homework waiting for grade:</h2>
            </div>
        </div>
    </div>
</div>


<div align="center" th:if="${homeworks.size()!=0}">
    <table>

        <tr>
            <th scope="col"><h4>Course</h4></th>
            <th scope="col"><h4>Lecture</h4></th>
            <th scope="col"><h4>Student</h4></th>
            <th scope="col"><h4>File name</h4></th>
            <th scope="col">
                <div align=" center"><img
                        src="https://cdn.pixabay.com/photo/2016/06/15/14/54/download-1459070_960_720.png" width="25"
                        height="26"></div>
            </th>
            <th scope="col">
                <div align=" center"><img src="https://pro2col.com/wp-content/uploads/2016/04/if_x-11_2299131-2.png"
                                          width="25" height="26"></div>
            </th>

        </tr>
        <div th:each="homework : ${homeworks}">

            <tr>
                <th>
                    <div th:each="course :${courses}">
                        <h4>
                            <div th:if="${course.id == homework.courseId}" th:text="${course.title}">1</div>
                        </h4>
                    </div>
                </th>
                <td>
                    <div th:each="lecture :${lectures}">
                        <h4>
                            <div th:if="${lecture.id == homework.lectureId}" th:text="${lecture.title}"></div>
                        </h4>
                    </div>

                </td>

                <td>
                    <h4>
                        <div th:text="${homework.studentUsername}"></div>
                    </h4>
                </td>

                <td>
                    <h4>
                        <div th:text="${homework.homeworkName}"></div>
                    </h4>
                </td>
                <td>
                    <a th:href="${'/uploads/'+homework.getHomeworkName()}" download>
                        <input type="submit" value="Download" th:action="${'/uploads/'+homework.getHomeworkName()}"
                               alt="TeacherApp" width="150" height="150">
                    </a>
                </td>

                <td>

                    <!--<button class="btn btn-primary" onclick="myFunction()">Give Grade Now!</button>-->
                    <!--<div id="myDIV" style="display:none">-->

                    <form method="post">
                        <input type="text" class="idClass" th:value="${homework.getId()}" id="id" style="display: none">
                        <input type="text" class="gradeClass" id="grade">
                        <input type="submit" value="Grade" class="button">
                    </form>


                    <!--</div>-->


                </td>

            </tr>
        </div>
    </table>
</div>


<!--<form method="post" th:align="center">-->
<!--<input type="text" id="id" >-->
<!--<input type="text" id="grade" >-->
<!--<input  type="submit" value="Grade" class="button" >-->
<!--</form>-->

<br/>
<br/>
<br/>
<br/>

</div>
<footer th:replace="fragments::footer"></footer>
</div>
<div th:replace="fragments::finalJS"></div>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<script>
    $(".button").click(function () {
        // gradeList= document.getElementsByClassName("grade");
        // id=document.getElementsByClassName("id");

        // grade = $(`#grade`).val();
        // id = $(`#id`).val();

        grade = $(this).siblings(".gradeClass").val();
        id = $(this).siblings(".idClass").val();

        if (grade > 0 && grade < 101) {
            $.ajax({
                "async": true,
                "crossDomain": true,
                "url": `http://localhost:8080/api/homeworks/grade?id=${id}&grade=${grade}`,
                "method": "POST",
                "headers": {
                    "Content-Type": "application/json",
                },
                "processData": false,
                "data": JSON.stringify({
                    "name": $('#name').val()
                }),
                success: function () {
                },
                error: function () {
                }
            });
        } else {
            alert("Wait! Grade must be in the range 1-100!")
        }
        if (grade > 0 && grade < 101) {
            alert("Grade given: " + grade + "!")
        }
    });
</script>

</body>
</html>