<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav th:replace="fragments::navigation">
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2     text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1> Welcome </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Showcase of Top Projects</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid proj-bottom">

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn"
                 th:each=" course : ${courses}">

                <a
                        th:href="@{/lectures/{id}(id = ${course.id})}"

                >

                    <img th:src="${course.getPictureName()}" width="520" height="300"/>

                    <h3 th:text="${course.getTitle()}">Web Master</h3>
                    <div class="row" th:each="i : ${topics}">
                        <div th:if="${course.getTopicId()} == ${i.getId()}">
                            <span th:text="${i.getName()}">Topic</span>
                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="features">
                <div class="col-md-4 animate-box">
                    <h4>We have coolest features of this course</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. </p>
                </div>
                <div class="col-md-4 animate-box">
                    <h4>Great teachers that we have</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. </p>
                </div>
                <div class="col-md-4 animate-box">
                    <h4>Steps by steps turorial session</h4>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                        there live the blind texts. </p>
                </div>
            </div>
            <div class="col-md-12 text-center animate-box">
<!--                <p><a class="btn btn-primary btn-lg btn-learn" href="/register">Create A Free Course</a></p>-->
            </div>
        </div>
    </div>
</div>

<!--<div id="fh5co-steps">-->
<!--    <div class="container">-->
<!--        <div class="row animate-box">-->
<!--            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">-->
<!--                <h2>Start A Course</h2>-->
<!--                <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident.-->
<!--                    Odit ab aliquam dolor eius.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row bs-wizard animate-box" style="border-bottom:0;">-->

<!--            <div class="col-xs-3 bs-wizard-step complete">-->
<!--                <div class="text-center bs-wizard-stepnum"><h4>Step 1</h4></div>-->
<!--                <div class="progress">-->
<!--                    <div class="progress-bar"></div>-->
<!--                </div>-->
<!--                <a href="#" class="bs-wizard-dot"></a>-->
<!--                <div class="bs-wizard-info text-center"><p>Choose Topic</p></div>-->
<!--            </div>-->

<!--            <div class="col-xs-3 bs-wizard-step active">&lt;!&ndash; complete &ndash;&gt;-->
<!--                <div class="text-center bs-wizard-stepnum"><h4>Step 2</h4></div>-->
<!--                <div class="progress">-->
<!--                    <div class="progress-bar"></div>-->
<!--                </div>-->
<!--                <a href="#" class="bs-wizard-dot"></a>-->
<!--                <div class="bs-wizard-info text-center"><p>Create New Course</p></div>-->
<!--            </div>-->

<!--            <div class="col-xs-3 bs-wizard-step disabled">&lt;!&ndash; complete &ndash;&gt;-->
<!--                <div class="text-center bs-wizard-stepnum"><h4>Step 3</h4></div>-->
<!--                <div class="progress">-->
<!--                    <div class="progress-bar"></div>-->
<!--                </div>-->
<!--                <a href="#" class="bs-wizard-dot"></a>-->
<!--                <div class="bs-wizard-info text-center"><p>Upload Video</p></div>-->
<!--            </div>-->

<!--            <div class="col-xs-3 bs-wizard-step disabled">&lt;!&ndash; active &ndash;&gt;-->
<!--                <div class="text-center bs-wizard-stepnum"><h4>Step 4</h4></div>-->
<!--                <div class="progress">-->
<!--                    <div class="progress-bar"></div>-->
<!--                </div>-->
<!--                <a href="#" class="bs-wizard-dot"></a>-->
<!--                <div class="bs-wizard-info text-center"><p>Grade Homework</p></div>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->


<div th:if="${#authentication.getAuthorities().size() == 1}" id="fh5co-started" style="background-image:url(/images/img_bg_2.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>Become a teacher</h2>
                <p>Do you want to become part of the teachers team? It is easy! Just send request. The admins will decide if you are the right student. </p>
            </div>
        </div>
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center">
                <p><a th:href="@{/teacher/request/new}" class="btn btn-default btn-lg">Become A Teacher</a></p>
            </div>
        </div>
    </div>
</div>

<footer th:replace="fragments::footer">
</footer>
</div>
<div th:replace="fragments::finalJS"></div>

</body>
</html>