
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">



</head>
<body>

<nav th:replace="fragments::navigation">
</nav>


<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(realImg/profile.jpg);"
        data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>My Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="fh5co-contact-info">
                        <h1>My Profile</h1>


                                <div>
                                <img th:src="${path}" width="275" height="225" name="profPic"
                                     onmouseover="profPic.width='399';profPic.height='326';"
                                     onmouseout="profPic.width='275';profPic.height='225';" /></div>


                        <h3>My Data:</h3>
                        <ul action="#" th:action="@{/myProfile}" th:object="${user}">

                            <li class="icon-emoji-happy" th:text="*{firstName}" style="font-size: large"></li>
                            <li class="icon-emoji-happy" th:text="*{lastName}" style="font-size: large"></li>
                            <li class="email" th:text="*{email}" style="font-size: large"></li>
                        </ul>
                    </div>


                        <button class="btn btn-primary" onclick="myFunction()">Edit My Data</button>
                    <br> <br>

                        <div id="myDIV" style="display:none">

                            <form action="#" th:action="@{/myProfile}" th:object="${user}" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <div class="row form-group">
                                    <input  type="text" class="form-control" th:field="*{firstName}" name="firstName" id="firstname" required="required"/>
                                    <input  type="text" class="form-control" th:field="*{lastName}" name="firstName" id="lastName" required="required"/>
                                    <input  type="text" class="form-control" th:field="*{email}" name="firstName" id="email" required="required"/>
                                        <br>
                                        <input type="file"  name="files" class="form-control-file">
                                    <br>
                                    <input type="submit"  name="submit" value="Confirm changes" class="btn btn-primary">
                                    </div>
                                </div></form>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <footer th:replace="fragments::footer"></footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>


    </div>


    <div th:replace="fragments::finalJS"></div>
</div>

<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

</body>
</html>

