<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav th:replace="fragments::navigation">
    </nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/ongoing.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1>My Ongoing Courses</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <hr>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-left fh5co-heading">
                    <h2>Ongoing courses</h2>

                </div>
            </div>
        </div>
    </div>


    <hr>


    <div class="container-fluid proj-bottom">

        <div class="row">
            <div class="col-md-4 col-sm-6 fh5co-project animate-box" data-animate-effect="fadeIn"
                 th:each=" course : ${ongoingCourses}">

                <a
                        th:href="@{/lectures/{id}(id = ${course.id})}"
                >


                    <img th:src="${course.getPictureName()}" width="520" height="300" />

                    <h3 th:text="${course.getTitle()}">Web Master</h3>
                    <div class="row" th:each="i : ${topics}">
                        <div th:if="${course.getTopicId()} == ${i.getId()}">
                            <span th:text="${i.getName()}">View Course</span>
                        </div>
                    </div>

                </a>
            </div>

        </div>
    </div>


    <hr>


    <footer th:replace="fragments::footer"></footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>