
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">
    <nav class="fh5co-nav" role="navigation">
        <div class="top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <p class="num">Call: +01 123 456 7890</p>
                        <ul class="fh5co-social">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-dribbble"></i></a></li>
                            <li><a href="#"><i class="icon-github"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-1">
                        <div id="fh5co-logo"><a href="/">AlexTeach<span>.</span></a></div>
                    </div>

                </div>

            </div>
        </div>
    </nav>


    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-push-1 animate-box">

                    <div class="fh5co-contact-info">
                        <h3>Contact Information</h3>
                        <ul>
                            <li class="address">30, ul. "Krastyu Rakovski" str,<br/> 1729 Sofia,  Bulgaria</li>
                            <li class="phone"><a href="/">+ 1235 2355 98</a></li>
                            <li class="email"><a href="mailto:aleks.kamarski@gmail.com">alexteachinfo@gmail.com</a></li>
                            <li class="url"><a href="http://www.alexteach.com">www.alexteach.com</a></li>
                        </ul>
                    </div>

                </div>
                <div class="col-md-6 animate-box">
                    <h3>Register as Student</h3>

                    <p>
                        <i th:if="${error != null}" th:text="${error}" style="color: red"/>
                    </p>
                    <form action="#" th:action="@{/register}" th:object="${user}" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label>First Name:</label>
                            <input  type="text" class="form-control" th:field="*{firstName}" name="firstName" id="firstName"
                                    required="required"/>

                        </div>
                        <div class="form-group">
                            <label>Last Name:</label>
                            <input type="text" class="form-control" th:field="*{lastName}" name="lastName" id="lastName"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label>Email:</label>
                            <input type="email" class="form-control" th:field="*{email}" name="email" id="email"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label>Username:</label>
                            <input type="text" class="form-control" th:field="*{username}" name="username" id="username"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label>Password:</label>
                            <input type="password" class="form-control" th:field="*{password}" name="pass" id="pass"
                                   required="required"/>
                        </div>
                        <div class="form-group">
                            <label>Confirm password:</label>
                            <input type="password" class="form-control" th:field="*{rePassword}"  name="confirm" id="confirm"
                                   required="required"/>
                            <br>

                            <input type="file"  name="files" multiple required="required" class="form-control-file">

                        </div>
                        <div>
                            <input type="submit"  name="submit" value="Sign Up" class="btn btn-primary">
                        </div>
                    </form>


                </div>
            </div>

        </div>
    </div>

    <footer th:replace="fragments::footer"></footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>


    </div>

    <div th:replace="fragments::finalJS"></div>
</div>
</body>
</html>

