<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body>

<style>td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}</style>


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    .navbar {
        width: 100%;
        background-color: #555;
        overflow: auto;
    }

    .navbar a {
        float: left;
        padding: 12px;
        color: white;
        text-decoration: none;
        font-size: 17px;
    }

    .navbar a:hover {
        background-color: #000;
    }

    .active {
        background-color: #4CAF50;
    }

    @media screen and (max-width: 500px) {
        .navbar a {
            float: none;
            display: block;
        }
    }
</style>


<div class="fh5co-loader"></div>

<div id="page">

    <nav th:replace="fragments::navigation"></nav>

    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/img__1.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">

                    <div class="navbar">
                        <a th:href="@{/teacher/requests}"> Approve Teacher </a>
                        <a th:href="@{/admin/requests}">Approve Admin</a>
                        <a th:href="@{/users/deletion}">Delete User</a>
                    </div>


                    <table align="center">

                        <tr>
                            <th scope="col"><h4>First Name</h4></th>
                            <th scope="col"><h4> Last Name</h4></th>
                            <th scope="col"><div align="center"><h4>Email</h4></div></th>
                            <th scope="col"><h4>Username</h4></th>
                            <th scope="col"><h4>Approve</h4></th>
                            <th scope="col"><h4>Reject</h4></th>

                        </tr>
                        <div th:each="request : ${requests}">

                            <tr>
                                <th>
                                    <div th:each="user :${usersInfo}">
                                    <h4>
                                        <div th:if="${request.username == user.username}" th:text="${user.firstName}">1</div>
                                    </h4>
                                    </div>
                                </th>
                                <td>
                                    <div th:each="user :${usersInfo}">
                                    <h4>
                                        <div th:if="${request.username == user.username}" th:text="${user.lastName}"></div>
                                    </h4>
                                    </div>
                                </td>

                                <td>
                                    <div th:each="user :${usersInfo}">
                                    <h4>
                                        <div th:if="${request.username == user.username}" th:text="${user.email}"></div>
                                    </h4>
                                    </div>
                                </td>

                                <td>
                                    <h4>
                                        <div th:text="${request.username}"></div>
                                    </h4>
                                </td>

                                <td>
                                    <a th:href="@{/teacher/approve/{username}(username = ${request.username})}"  class="btn btn-primary">
                                        Approve
                                    </a>
                                </td>
                                <td>
                                    <a th:href="@{/teacher/reject/{username}(username = ${request.username})}"  class="btn btn-primary">
                                        Reject
                                    </a>
                                </td>

                            </tr>
                        </div>
                    </table>


                </div>
            </div>
        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <br/>

</div>
<footer th:replace="fragments::footer"></footer>
</div>
<div th:replace="fragments::finalJS"></div>
</body>
</html>