<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::head">
</head>
<body>

<div class="fh5co-loader"></div>

<div id="page">


    <nav th:replace="fragments::navigation">
    </nav>


    <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(/realImg/lecture-background-2.jpg);"
            data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <div    align="left">
                            <h1> Watch the video lecture : </h1>
                            </div>
                            <div align="left">
                            <h1>
                                <div th:text="${lecture.getTitle()}"></div>
                            </h1>
                            </div>
                            <div    align="left">
                                <h2> Description : </h2>
                            </div>
                            <div align="left">
                                <h2>
                                    <div th:text="${lecture.getDescription()}"></div>
                                </h2>
                            </div>
                            <br/>
                            <br/>
                            <br/>
                            <br/>

                            <div th:if="${checkIfExistHomework == true}" align="left">
                                <h2>
                                    <div th:if="${homeworkWithGrade.getGrade()>0}">
                                        Your grade for this lecture is:
                                        <h1>  <div th:text="${homeworkWithGrade.getGrade() + '%'}"></div></h1>
                                    </div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div id="fh5co-project">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <a th:href="@{/lectures/{id}(id = ${lecture.courseId})}" class="btn btn-primary">
                        Back To Course
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

        <div align="center">


<!--        <iframe width="560" height="315" th:src="@{https://www.youtube.com/embed/{id}(id= ${youtubeId})}"-->
<!--        <iframe width="660" height="360" th:src="@{https://www.youtube.com/embed/{id}(id= ${youtubeId})}"-->
<!--        <iframe width="1320" height="720" th:src="@{https://www.youtube.com/embed/{id}(id= ${youtubeId})}"-->
        <iframe width="990" height="540" th:src="@{https://www.youtube.com/embed/{id}(id= ${youtubeId})}  "
                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        <br/>
        <br/>
        <br/>
        <div th:if="${studentCourse != null}">

                    <form th:if="${passedLecture == null}" th:action="@{/passedlecture/new/{id}(id = ${lecture.id})}">
            <input type="submit" class="btn btn-success" value="Finish Video"/>

                </form>

        </div>

    </div>

    <div th:align="center" th:if="${passedLecture != null}">
        <div   th:if="${checkIfExistHomework == false}"   class="col-md-12 text-center animate-box" >

            <a th:href="${'/uploads/' + lecture.getAssignmentName()} " download>
                <input type="submit" value="Download Assignment" th:action="${'/uploads/'+lecture.getAssignmentName()} "
                       alt="TeacherApp" width="150" height="150">
            </a>

            <form  th:action="@{/uploadhomework/{id}(id = ${lecture.id})}" method="post" enctype="multipart/form-data">

                <span align="center"><h2> <p>Upload Homework</p></h2></span>

                <div align="center"> <h3>First choose a file and than upload it!</h3>
                <input type="file" name="files" multiple/>
                <br/>

                </div>

                <input type="submit" value="Upload File"/>
            <br/>
            <br/>
            </form>
        </div>
        <div   th:if="${checkIfExistHomework != false}">
            <h4>Congrats you have completed your homework here!</h4>

        </div>
    </div>

    <br/>
    <br/>
    <br/>
    <footer th:replace="fragments::footer"></footer>
</div>

<div th:replace="fragments::finalJS"></div>

<script>
    function thisFileUpload() {
        document.getElementById("file").click();
    }
</script>
</body>
</html>